/* ------------------------------------------------------------ *\
	banner
\* ------------------------------------------------------------ */

.banner {
	position: relative;
	font-size: 2.4rem;
	line-height: 1.33;
	isolation: isolate;

	.banner__inner {
		background-color: var(--c-blue);
		position: relative;
		border-radius: 2.4rem;
		padding: 6.4rem 10rem 7.4rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
		isolation: isolate;

		@include breakpoint-down(small-desktop) {
			padding: 6.4rem 5rem 7.4rem;
		}

		@include breakpoint-down(tablet) {
			flex-direction: column;
			padding: 5rem 3rem 6rem;
			gap: 4rem;
			text-align: center;
			overflow: hidden;
		}

		@include breakpoint-down(mobile) {
			padding: 4.8rem 2.7rem;
		}
	}

	.banner__decoration {
		position: absolute;
		left: 0;
		top: 3rem;
		z-index: -1;

		@include breakpoint-down(mobile) {
			width: 5.6rem;
		}
	}

	// .banner__decoration adjust
	.banner__decoration--adjust {
		top: unset;
		left: 39.3%;
		bottom: -2.5rem;

		@include breakpoint-down(tablet) {
			left: unset;
			right: -1rem;
			bottom: 50%;
			transform: translateY(50%);
			width: 8rem;
		}

		@include breakpoint-down(mobile) {
			width: 7.2rem;
		}
	}

	// .banner__decoration centered
	.banner__decoration--centered {
		top: -7rem;
		left: 46.8%;

		@include breakpoint-down(tablet) {
			left: 0;
			top: unset;
			bottom: 0;
			width: 14rem;
		}

		@include breakpoint-down(mobile) {
			width: 11.2rem;
			left: -1.5rem;
			bottom: -2rem;
		}
	}

	// .banner__decoration right
	.banner__decoration--right {
		top: unset;
		left: unset;
		right: 5.8rem;
		bottom: -3.5rem;
		z-index: 1;

		@include breakpoint-down(mobile) {
			width: 12.5rem;
			right: 2rem;
		}
	}

	.banner__content h2 {
		margin-bottom: 1.6rem;

		@include breakpoint-down(mobile) {
			font-size: 3.2rem;
		}
	}

	.banner__entry {
		padding-left: 0.8rem;

		@include breakpoint-down(mobile) {
			padding: 0;
			font-size: 1.8rem;
		}
	}

	.banner__aside {
		display: flex;
		align-items: center;
		gap: 2.4rem;
		margin-top: -1.4rem;

		@include breakpoint-down(tablet) {
			margin-top: 0;
		}
	}

	.banner__price {
		font-family: var(--ff-funnel-display);
		font-size: 8rem;
		line-height: 1.1;
		color: var(--c-white);
		font-weight: 600;

		@include breakpoint-down(mobile) {
			font-size: 4.8rem;
		}
	}

	.banner__discount {
		font-family: var(--ff-funnel-display);
		font-size: 4.8rem;
		line-height: 1.166;
		text-decoration: line-through;
		margin-top: 2.3rem;
		color: #ffffff6e;

		@include breakpoint-down(mobile) {
			font-size: 2.8rem;
			margin-top: 0;
		}
	}
}
