/* ------------------------------------------------------------ *\
	box
\* ------------------------------------------------------------ */

.box {
	font-size: 1.5rem;
	line-height: 1.466;
	background-color: var(--c-background-secondary);
	border-radius: 2.4rem;
	border: 0.1rem solid #ffffff33;
	padding: 2.4rem 3.2rem;

	.box__image {
		display: inline-block;
		margin-bottom: 1.2rem;
	}

	h4 {
		margin-bottom: 0.8rem;
	}
}
