/* ------------------------------------------------------------ *\
	box
\* ------------------------------------------------------------ */

.box {
	font-size: 1.5rem;
	line-height: 1.466;
	background-color: var(--c-background-secondary);
	border-radius: 2.4rem;
	border: 0.1rem solid #ffffff33;
	padding: 2.4rem 3.2rem;
	background-color: #ffffff0a;

	@include breakpoint-down(mobile) {
		padding: 2rem 2.4rem 2.5rem;
	}

	.box__image {
		display: inline-block;
		margin-bottom: 1.2rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 0;
		}
	}

	h4 {
		@include breakpoint-down(mobile) {
			font-size: 2rem;
		}
	}

	h4:not(:last-child) {
		margin-bottom: 0.8rem;
	}

	.box__bar {
		display: contents;
		align-items: center;
		gap: 1.2rem;
		margin-bottom: 0.8rem;

		@include breakpoint-down(mobile) {
			display: flex;
			gap: 2rem;
			margin-bottom: 1.2rem;
		}
	}
}

// box adjust
.box--adjust {
	font-size: 1.6rem;
	text-wrap: balance;

	@include breakpoint-down(mobile) {
		text-align: center;
		font-size: 1.5rem;
	}

	.box__bar {
		display: flex;
		align-items: center;
		gap: 1.2rem;
		margin-bottom: 0.8rem;

		@include breakpoint-down(mobile) {
			justify-content: center;
			margin-bottom: 1.6rem;
		}
	}
}
