/* ------------------------------------------------------------ *\
	copyright
\* ------------------------------------------------------------ */

.copyright {
	font-size: 1.8rem;
	line-height: 1.444;

	@include breakpoint-down(mobile) {
		font-size: 1.5rem;
	}

	a {
		transition: color var(--t-duration) ease-in-out;

		&:hover {
			color: var(--c-green);
		}
	}
}
