/* ------------------------------------------------------------ *\
	counter
\* ------------------------------------------------------------ */

.counter {
	display: flex;
	align-items: center;
	gap: 3.2rem;

	.counter__aside {
		position: relative;
	}

	.counter__aside img {
		position: absolute;
		top: -7.8rem;
		right: 10.2rem;
	}

	.counter__aside h4 {
		position: relative;

		@include breakpoint-down(small-desktop) {
			display: inline;
		}
	}

	.counter__aside h4 img {
		position: absolute;
		top: calc(100% - 0.1rem);
		right: -1.4rem;
	}
}
