/* ------------------------------------------------------------ *\
	counter
\* ------------------------------------------------------------ */

.counter {
	display: flex;
	align-items: center;
	gap: 3.2rem;

	@include breakpoint-down(tablet) {
		flex-direction: column-reverse;
		position: relative;
	}

	@include breakpoint-down(mobile) {
		gap: 2rem;
	}

	.counter__aside {
		position: relative;

		@include breakpoint-down(tablet) {
			position: static;
		}
	}

	.counter__aside > img {
		position: absolute;
		top: -7.8rem;
		right: 10.2rem;

		@include breakpoint-down(tablet) {
			top: calc(100% + 4rem);
			right: 0;
			transform: rotate(102deg) rotateY(175deg);
		}

		@include breakpoint-down(mobile) {
			display: none;
		}
	}

	.counter__aside h4 {
		position: relative;

		@include breakpoint-down(small-desktop) {
			display: inline;
		}
	}

	.counter__aside h4 br {
		@include breakpoint-down(tablet) {
			display: none;
		}
	}

	.counter__aside h4 img {
		position: absolute;
		top: calc(100% - 0.1rem);
		right: -1.4rem;
	}
}
