/* ------------------------------------------------------------ *\
	header
\* ------------------------------------------------------------ */

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 3.2rem 0 0;

	@include breakpoint-down(tablet) {
		text-align: center;
		padding: 6.2rem 0 0;
	}
}
