/* ------------------------------------------------------------ *\
	hero
\* ------------------------------------------------------------ */

.hero {
	position: relative;
	font-size: 2rem;
	line-height: 1.4;
	overflow: hidden;

	@include breakpoint-down(tablet) {
		padding: 11.4rem 0 2rem;
	}

	@include breakpoint-down(mobile) {
		font-size: 1.6rem;
		line-height: 1.5;
	}

	.hero__background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		pointer-events: none;

		@media (max-width: 1300px) {
			width: calc(100% - 12rem);
		}

		@include breakpoint-down(tablet) {
			width: 100%;
			height: 100%;
		}
	}

	.hero__background img {
		width: 100%;
		height: auto;
		object-fit: cover;

		@include breakpoint-down(mobile) {
			height: unset;
		}
	}

	.hero__shell {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		padding: 2rem;

		@include breakpoint-down(tablet) {
			display: block;
		}
	}

	.hero__content {
		align-self: center;
		padding: 8rem 0 6rem;
		flex: 1 1 auto;
		max-width: 72.8rem;

		@include breakpoint-down(tablet) {
			max-width: 100%;
			padding: 0;
			text-align: center;
			margin-bottom: 7rem;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 2.4rem;
		}
	}

	h1 {
		position: relative;
		margin-bottom: 2rem;
		isolation: isolate;
		text-wrap: balance;

		@include breakpoint-down(mobile-medium) {
			max-width: 44.3rem;
			margin: 0 auto 1.3rem;
		}
	}

	h1 span {
		position: relative;
		isolation: isolate;

		@include breakpoint-down(mobile-medium) {
			position: static;
		}
	}

	h1 span img {
		position: absolute;
		right: 2.6rem;
		top: calc(100% - 3.4rem);
		z-index: -1;

		@media (max-width: 1318px) {
			top: calc(100% - 3rem);
			right: -2rem;
			width: 10rem;
		}

		@include breakpoint-down(mobile) {
			top: calc(100% - 2.5rem);
		}

		@include breakpoint-down(mobile-medium) {
			width: 8.5rem;
			top: calc(100% - 11.4rem);
			right: 3rem;
			display: none;
		}
	}

	h1 .hero__label-mobile {
		position: relative;
		isolation: isolate;

		@include breakpoint-down(mobile-medium) {
			display: inline-block;
		}
	}

	h1 .hero__label-mobile img {
		position: absolute;
		right: 2.6rem;
		top: calc(100% - 3.4rem);
		z-index: -1;
		display: none;

		@include breakpoint-down(mobile-medium) {
			display: block;
			width: 8.5rem;
			top: -2rem;
			right: -1rem;
		}
	}

	.hero__entry {
		position: relative;
		max-width: 48.8rem;
		margin-bottom: 3.2rem;

		@include breakpoint-down(tablet) {
			max-width: 80%;
			margin: 0 auto 2.8rem;
		}
	}

	.hero__actions {
		margin-bottom: 5.6rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 4.3rem;
		}
	}

	.hero__counter {
		@include breakpoint-down(tablet) {
			display: inline-flex;
		}
	}

	.hero__image {
		width: 100%;
		max-width: 50rem;
		margin-right: calc(-50vw + 63.2rem);

		@media (max-width: 1270px) {
			margin-right: 0;
		}

		@include breakpoint-down(tablet) {
			margin: 0 auto;
			position: relative;
			left: -4rem;
			z-index: -1;
		}

		@include breakpoint-down(mobile) {
			left: 0;
		}
	}

	.hero__image img {
		width: 100%;
		height: auto;
		object-fit: cover;

		@include breakpoint-down(small-desktop) {
			height: 100%;
			object-fit: fill;
		}

		@include breakpoint-down(tablet) {
			height: auto;
		}
	}
}
