/* ------------------------------------------------------------ *\
	section-gray
\* ------------------------------------------------------------ */

.section-gray {
	.section__inner {
		padding: 8.8rem 2rem 10.4rem;
		background-color: var(--c-background-secondary);
		border-radius: 2.4rem;

		@include breakpoint-down(mobile) {
			padding: 7.2rem 2rem 8rem;
			margin: 0 -2rem;
		}
	}

	.section__head {
		max-width: 59.8rem;
		margin: 0 auto 4.8rem;
		text-align: center;

		@include breakpoint-down(tablet) {
			text-wrap: balance;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 3.2rem;
		}
	}

	.section__list-features {
		margin-bottom: 1.6rem;
	}

	.section__body {
		max-width: 121.6rem;
		margin: 0 auto;
	}
}

// section gray
.section-gray--adjust {
	.section__inner {
		padding: 8rem 2rem 10.4rem;

		@include breakpoint-down(mobile) {
			padding: 7.2rem 2rem 8rem;
		}
	}

	.section__head {
		max-width: 78rem;
		margin-bottom: 4.3rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 2.7rem;
		}
	}
}
