/* ------------------------------------------------------------ *\
	section-media
\* ------------------------------------------------------------ */

.section-media {
	padding: 2rem 0 0;
	overflow: hidden;
	position: relative;

	.section__inner {
		max-width: 92rem;
		margin: 0 auto;
	}

	.section__content {
		position: relative;
		isolation: isolate;
	}

	.section__decoration {
		position: absolute;
		right: calc(100% - 16.2rem);
		top: 6.5%;
		z-index: -1;
	}

	.section__decoration--adjust {
		left: calc(100% - 5rem);
		right: unset;
		top: 28%;
	}

	.section__title {
		text-align: center;
		margin-bottom: 4.8rem;
		padding: 0 1rem;
	}

	h2 span {
		position: relative;
		isolation: isolate;
	}

	h2 span img {
		position: absolute;
		left: -1rem;
		top: calc(100% - 1.7rem);
		z-index: -1;
	}
}
