/* ------------------------------------------------------------ *\
	testimonial
\* ------------------------------------------------------------ */

.testimonial {
	font-size: 1.5rem;
	line-height: 1.466;
	background-color: var(--c-background-secondary);
	border-radius: 2.4rem;
	border: 0.1rem solid #ffffff33;
	padding: 2.4rem 3.2rem;
	color: var(--c-white);
	font-weight: 500;
	background-color: var(--c-background-secondary);

	.testimonial__bar {
		display: flex;
		align-items: center;
		gap: 2rem;
		margin-bottom: 2.8rem;
	}

	.testimonial__bar-content {
		font-size: 1.4rem;
		color: var(--c-base);
		font-weight: 400;
	}

	.testimonial__bar strong {
		display: block;
		font-size: 2rem;
		line-height: 1.4;
		margin-bottom: 0.4rem;
		color: var(--c-white);
		font-weight: 600;
		font-family: var(--ff-funnel-display);
	}

	blockquote {
		font-size: 1.6rem;
		list-style: 1.5;
		margin-bottom: 1.8rem;
	}
}
