/* ------------------------------------------------------------ *\
	testimonials
\* ------------------------------------------------------------ */

.testimonials {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2.6rem;
	align-items: flex-start;

	@include breakpoint-down(tablet) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include breakpoint-down(mobile) {
		grid-template-columns: repeat(1, 1fr);
	}
}
