// ==========================================================================
// Variables
// ==========================================================================

:root {
	--fz-html: 62.5%;
	--fz-base: 1.6rem;
	--fw-base: 400;
	--lh-base: 1.5;
	--ff-base: 'Poppins', serif;
	--ff-funnel-display: 'Funnel Display', sans-serif;
	--c-base: #ffffffb3;
	--c-white: #fff;
	--c-background: #1b1b1b;
	--c-background-secondary: #242424;
	--c-green: #67c794;
	--c-red: #582525;
	--c-yellow: #feee91;
	--c-blue: #205057;
	--t-duration: 0.3s;
}

$breakpoints: (
	mobile-small: 374px,
	mobile-medium: 575px,
	mobile: 767px,
	tablet: 1023px,
	small-desktop: 1199px,
	large-desktop: 1441px,
);
